<template>
    <div class="card" v-if="view == 'card'">
        <a :href="permalink">
            <img class="card-img-top" :src="thumbnail" alt="" v-if="thumbnail">
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <a :href="permalink">{{ title }}</a>
            </h5>
            <p class="card-text">{{ excerpt }}</p>
        </div>
    </div>
</template>

<style scoped>
.card {
    margin-bottom: 20px;
}
</style>

<script>


export default {
    name: 'ContentPostItem',
    props: {
        title: String,
        excerpt: String,
        thumbnail: String,
        permalink: String,
        view: {
            type: String,
            default: 'card'
        }
    }
}
</script>