<template>
    <div class="recent-items" v-if="postItems.length > 0">
        <h1>
            Recent News
            <a href="/content/news/posts" class="btn btn-info btn-sm view-more">View more</a>
        </h1>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" v-for="item in postItems" :key="item.id">
                <content-post-item
                    :title="item.title"
                    :excerpt="item.short_detail"
                    :thumbnail="item.thumbnail.rectangle"
                    :permalink="item.permalink"
                ></content-post-item>
            </div>
        </div>
    </div>
</template>

<script>
const ITEM_PER_PAGE = 3;
const RECENT_NEWS_API_ENDPOINT = window.baseApiEndpoint + 'content/news/posts?perPage=' + ITEM_PER_PAGE;

export default {
    name: 'HomeRecentNews',
    data() {
        return {
            postItems: []
        }
    },
    mounted: function () {
        this.$nextTick(function () {
            axios.get(RECENT_NEWS_API_ENDPOINT)
                .then(function(response){
                    if (response.status === 200) {
                        this.postItems = response.data.data
                    }
                }.bind(this))
                .catch(function(err){
                    console.log('Fetch Error :-S', err)
                });
        });
    }
}
</script>