
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

.recent-items {
    padding: 20px 0;
    margin-bottom: 20px;
}
.recent-items h1 {
    padding: 20px 0;
    margin-bottom: 20px;
    position: relative;
}
.recent-items h1 .view-more {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 16px;
}